.videoWrapper:popover-open {
    padding: 1.5em;
    background-color: rgba(0 0 0 / 0.5);
    justify-items: center;
    align-content: center;
    border-radius: 5rem;
}

.video {
    width: 800px;
    aspect-ratio: 2;
    display: block;
    margin-block-end: 1em;
}

.btn {
    line-height: 2;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding-inline: 1.2em;
    box-shadow: 2px 2px #000;
}

.startScanningBtn {
    --startScanningBtnBackgroundColor: #040F16;
    margin-inline-end: 0.5em;
    background-color: var(--startScanningBtnBackgroundColor);
    color: #fff;
    transition: background-color 500ms ease-in;

    &:hover {
        background-color: rgba(
            from var(--startScanningBtnBackgroundColor) r g calc(b - 50) / alpha);
    }
}

.scanningText {
    font-weight: 600;
    color: rgba(0 255 0 / 1);
    font-size: 1.2rem;
}