/* Regular custom properties do not allow for animation */
/* Currently not supported in all browsers */
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.form {
    margin: 0 auto;
    width: min(95%, 550px);
    border: 1px solid #000;
    padding-block-end: 1.5em;
    box-shadow: 1px 1px 4px rgba(20 0 0 / 1);
}

.heading {
    text-align: center;
}

.formContentWrapper {
    padding-inline: 1.8em;
    width: 100%;
}

.faceIdWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 180px;
    height: 180px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* From Kevin Powell */
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: -.2rem;
        border-radius: inherit;
        z-index: -1;
        background: conic-gradient(
            from var(--gradient-angle),
            var(--clr-1),
            var(--clr-2),
            var(--clr-3),
            var(--clr-1));
        animation: rotation 20s linear infinite;
    }

    &::after {
        filter: blur(0.4rem);
    }
}

.logInImg {
    --clr-1: #0e4b50;
    --clr-2: #7EC4CF;
    --clr-3: #637c54;
    background-image: url("../../assets/face_id.jpg");
}

.signUpImg {
    --clr-1: #EEE5E9;
    --clr-2: #FEFAE0;
    --clr-3: #D4AFB9;
    background-image: url("../../assets/get_started.jpg");
}

/* Code for text in middle divider */
.paraDivider {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.paraDivider::before,
.paraDivider::after {
    background-color: #a3a3a3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.paraDivider::before {
    right: 0.5em;
    margin-left: -50%;
}

.paraDivider::after {
    left: 0.5em;
    margin-right: -50%;
}
/* End code */

.labelInputWrapper {
    margin-block-start: 1em;
}

.label {
    display: block;
    text-align: start;
    margin-block-end: 0.5em;
}

.input {
    padding-inline: 1em;
    padding-block: 0.8em;
    width: 100%;
}

.error {
    color: rgba(255 0 0 / 1);
    /* * Ensure \n are rendered as line breaks */
    white-space: pre-line;
}

.forgotPasswordWrapper {
    text-align: end;
    font-size: 1rem;
}

.forgotPassword {
    display: inline-block;
    margin-top: 1em;
    text-underline-offset: 5px;
}

.btnWrapper {
    margin-block-start: 1.5em;
    display: flex;
    justify-content: space-around;
}

.btn {
    line-height: 2.2;
    font-size: 1rem;
    transition: background-color 500ms ease-in;
    box-shadow: 1px 1px 2px #000;
}

.btnSubmit {
    --btnSubmitBackgroundColor: #004FFF;
    background-color: var(--btnSubmitBackgroundColor);
    color: #fff;
    
    &:hover {
        background-color: rgba(
            from var(--btnSubmitBackgroundColor) r g calc(b - 100) / alpha);
    }
}

.btnToggleFormStatus {
    --btnToggleBackgroundColor: #FCFCFF;
    background-color: var(--btnToggleBackgroundColor);

    &:hover {
        background-color: rgba(
            from var(--btnToggleBackgroundColor) r g calc(b - 50) / alpha);
    }
}

@keyframes rotation {
    0% {--gradient-angle: 0deg;}
    100% {--gradient-angle: 360deg;}
}

@media (width >= 280px) {
    .btn {
        width: 100%;
    }
    .btnSubmit {
        margin-bottom: 2em;
    }
    .btnWrapper {
        flex-direction: column;
    }
}

@media (width >= 768px) {
    .btn {
        width: 30%;
    }
    .btnSubmit {
        margin-bottom: 0;
    }
    .btnWrapper {
        flex-direction: row;
    }
}