.section {
    padding-inline-start: 1.2em;
    padding-block-start: 1em;
}

.greetingWrapper {
    margin-block-end: 2em;
}

.userEmail {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.signOutBtnWrapper {
    margin-block-end: 5em;
}

.deleteHeading {
    margin-bottom: 2em;
    font-size: 1.1rem;
}

.popover {
    box-shadow: 1px 1px 2px #000;
    padding: 1.5em;
    text-align: center;
}

.btn {
    line-height: 1.5;
    padding-inline: 1.5em;
    padding-block: 0.5em;
    font-size: 1rem;
    box-shadow: 1px 1px #000;
}

.confirmBtn {
    --confirmBtnBackgroundColor: rgba(220 5 20 / 1);
    margin-inline-end: 0.5em;
    background-color: var(--confirmBtnBackgroundColor);
    transition: background-color 500ms ease-in;
    color: #000;

    &:hover {
        background-color: rgba(
            from var(--confirmBtnBackgroundColor) calc(r + 30) calc(g - 5) b / alpha);
    }
}