:root {
  --clr-primary: #F6F2FF;
  --clr-secondary: rgba(0 220 30 / 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--clr-primary);
}

button {
  cursor: pointer;
}

/* Styles the box, which is the size of the viewport, when popover is open */
/* Adjust transparency to ensure that content is still visible */
.popover::backdrop {
  background-color: rgba(
    from var(--clr-primary) calc(r - 20) calc(g - 20) calc(b - 20) / calc(alpha - 0.5));
}