:root {
  --clr-primary: #F6F2FF;
  --clr-secondary: rgba(0 220 30 / 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--clr-primary);
}

button {
  cursor: pointer;
  color: #000;
  border-color: #000;
  line-height: 1.8;
  padding-inline: 1em;
  border-radius: 0.5rem;
  background-color: #EEF0EB;
}

button:disabled {
  background-color: #D3D5D7;
}

/* Styles the box, which is the size of the viewport, when popover is open */
/* Adjust transparency to ensure that content is still visible */
.popover::backdrop {
    background-color: rgba(from var(--clr-primary) r g b / calc(alpha - 0.3));
}